<h1>New author</h1>

<%= form_for @author do |form| %>
 

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place %>
  </div>

   <%= form.fields_for :book do |ff| %>
  

    <div>
    <%= ff.label :Bookname %>
    <%= ff.text_field :name %>
  </div>

  
  <div>
    <%= ff.label :genre %>
    <%= ff.text_field :genre %>
  </div>
<% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to authors", authors_path %>
</div>
